/* EASYCSS CONTAINER
<------------------- CONTAINER DETAILS -------------------> 
name: Flexbox container.
purpose: Using the same properties of the basic container, this one uses a display flex for advanced purpouses.
width: Open to be setted by the developer. The default value is 100%.
height: Open to be setted by the developer. The default value is fit-content.
display: flex.
padding_block (IMPORTANT): If you use a flex container inside a basic container, the padding is 0px instantly. Otherwise, the default value is 24px.Change it using "style" attribute to fit it to your design.
padding_inline: (IMPORTANT): If you use a flex container inside a basic container, the padding is 0px instantly. Otherwise, the default value is 16px. Change it using "style" attribute to fit it to your design.
using_js: No.
responsive: Yes.
<------------------- AUTHOR DETAILS ------------------->
created_by: Ganandeveloper in Cali, Colombia - December 14, 2023.
website: https://people.iserlatam.com/ganandeveloper
linkedin_username: 
youtube_channel: iserlatam
<------------------- ENJOY PROGRAMMING ^-^ ------------------->
*/