/* EASYCSS COMPONENT
<------------------- COMPONENT DETAILS -------------------> 
name: Pop-up.
purpose: Activate a float window triggered by a button that contains esencial content or information such as an invitation for a news letter or a form. 
styles: .
using_js: Yes.
responsive: Yes.
<------------------- AUTHOR DETAILS ------------------->
created_by: Ganandeveloper in Cali, Colombia - , 2023.
website: https://people.iserlatam.com/ganandeveloper
linkedin_username: 
youtube_channel: iserlatam
<------------------- ENJOY PROGRAMMING ^-^ ------------------->
*/
