/* EASYCSS CONTAINER
<------------------- CONTAINER DETAILS -------------------> 
name: Basic container.
purpose: Create an space to place items, using a default padding to stretch the content and keep an organized design.
width: Open to be setted by the developer. The default value is 100%.
height: Open to be setted by the developer. The default value is fit-content.
display: block.
padding_block: 24px.
padding_inline: 16px.
using_js: No.
responsive: Yes.
<------------------- AUTHOR DETAILS ------------------->
created_by: Ganandeveloper in Cali, Colombia - December 14, 2023.
website: https://people.iserlatam.com/ganandeveloper
linkedin_username: 
youtube_channel: iserlatam
<------------------- ENJOY PROGRAMMING ^-^ ------------------->
*/