/* EASYCSS TYPOGRAPHY
<------------------- TYPOGRAPHY DETAILS -------------------> 
name: Helper text.
purpose: Useful to give an indication or guide.
font_size: Open to be setted by the developer. The default value is 0.875rem.
font_weight: Open to be setted by the developer. The default value is 300.
responsive: Yes.
<------------------- AUTHOR DETAILS ------------------->
created_by: Ganandeveloper in Cali, Colombia - December 14, 2023.
website: https://people.iserlatam.com/ganandeveloper
linkedin_username: 
youtube_channel: iserlatam
<------------------- ENJOY PROGRAMMING ^-^ ------------------->
*/