/* EASYCSS COMPONENT
<------------------- COMPONENT DETAILS -------------------> 
name: Table.
purpose: Display important information such as users, products, etc.
styles: .
using_js: No.
responsive: Yes.
<------------------- AUTHOR DETAILS ------------------->
created_by: Ganandeveloper in Cali, Colombia - , 2023.
website: https://people.iserlatam.com/ganandeveloper
linkedin_username: 
youtube_channel: iserlatam
<------------------- ENJOY PROGRAMMING ^-^ ------------------->
*/