/* EASYCSS TYPOGRAPHY
<------------------- TYPOGRAPHY DETAILS -------------------> 
name: Paragraph text.
purpose: Write paragraphs, card content and more.
font_size: Open to be setted by the developer. The default value is 1rem.
font_weight: Open to be setted by the developer. The default value is 400.
responsive: Yes.
<------------------- AUTHOR DETAILS ------------------->
created_by: Ganandeveloper in Cali, Colombia - December 14, 2023.
website: https://people.iserlatam.com/ganandeveloper
linkedin_username: 
youtube_channel: iserlatam
<------------------- ENJOY PROGRAMMING ^-^ ------------------->
*/